{
    "components": ["foo"],
    "plugins": {
        "bar": ["foo"],
        "colegio": ["foo"]
    },
    "modules": {
        "site": ["custom"],
        "admin": ["foo"]
    },
    "packages": ["foo"]
}