{
    "components": ["foo"],
    "plugins": {
        "bar": ["foo"],
        "system: ["foo]
    },
    "modules": {
        "site": ["foo"],
        "admin": ["foo"]
    },
    "packages": ["foo"]
}